@charset "UTF-8";
@font-face {
    font-family:"Iron";
    src: url("/_font/Iron.ttf");
}

body{
    background-image: url("/_images/R.jfif");
}
h1{ 
    text-align: center;
}
main {
    font-family: Iron, Arial, Helvetica, sans-serif;
    z-index: 0;
    width: 900px;
    height: 1300px;
    background-color: black;
    color: rgb(112, 250,0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    border: 4px solid #26ff00;
}

h2{
    text-align: center;
    margin: auto;
}

div#conhecimentos li{
    text-align:center;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: #36aa1f;
}

a:hover{
    text-decoration: underline;
    color: #26ff00;
}

.circle{
    background-color: #26ff00;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: #26ff00;
}
.circle img {
    position: relative;
    bottom: 0;
    width: 100%;
}

dl, dd {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}